* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   font-family: 'Satoshi', sans-serif!important;
}
/* UNDERLINE LINKS NAVBAR HOVER STYLES */
#wrapper{
   transform: translateY(0.2rem);
}
#wrapper ul li a {
  color: #ff4444;
  text-transform: uppercase;
  text-decoration: none;
  

  position: relative;
}
#wrapper ul li a:after {    
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: "";
  display: block;
  height: 3px;
  left: 50%;
  position: absolute;
  background: #f66;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}
#wrapper ul li a:hover:after { 
  width: 100%; 
  left: 0; 
}

/* UNDERLINE LINKS NAVBAR HOVER STYLES */
/* NAVBAR MOBILE MEDIAQUERY */
@media (width <= 1024px) {
   .bar-container {
      display: flex;
      justify-content: space-between;
      min-width: 100%;
   }
   .navbar {
      flex-direction: column;
   }

   .expandable {
      min-height: 0;
      display: flex;
      flex-direction: column;
   }
   .wrapper {
      min-width: 100%;
      display: grid;
      grid-template-rows: 0fr;
      overflow: hidden;
      transition: grid-template-rows 200ms;
   }

   .wrapper.open {
      padding-block: 1em;
      grid-template-rows: 1fr;
   }
}
/* NAVBAR MOBILE MEDIAQUERY */


