* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}


@media (width <= 768px) { 
   .bar-container{
      display: flex;
      justify-content: space-between;
      min-width: 100%;
   }
   .navbar{
      flex-direction: column;
   }

   .expandable{
      min-height: 0;
      display: flex;
      flex-direction: column;
   }
   .wrapper{
      min-width: 100%;
      display: grid;
      grid-template-rows: 0fr;
      overflow: hidden;
      transition: grid-template-rows 200ms;

   }

   .wrapper.open{
      padding-block: 1em;
      grid-template-rows:1fr;
   }
}