{% extends 'layout.html' %} {% block title %} Home {% endblock title %} {% block
content %}"
<link rel="stylesheet" href="{{url_for('static', filename='css/content.css')}}">

<header class="flex justify-center w-full h-full relative">
   <div
      class="flex justify-evenly items-center gap-5 text-white flex-col md:flex-row sm:gap-2"
   >
      <blockquote
         class="flex items-center w-5/6 text-2xl w-3/4 font-semibold md:w-3/6 sm:text-3xl lg:text-4xl border-solid border-4 p-4" style="
            background: linear-gradient(90deg, #f00, #f44);
            --webkit-text-fill-color: transparent;
            --webkit-background-clip: text;
            "
      >
         <p class="py-4">Un portal de citas para hombres y mujeres que estan comprometidos pero
         estan buscando una relacion paralela ol extramatrimonial</p>
      </blockquote>
      <a href="#">
         <button class="heart-btn py-3 px-2 text-2xl">
            <div></div>
            <div></div>

            Ver mas
         </button>
      </a>
   </div>   
  
</header>
{% endblock content %}
