{% extends 'layout.html' %} {% block title %} Home {% endblock title %} {% block
content %}
<header class="flex items-center justify-center w-full h-full">
   <div class="flex justify-evenly items-center flex-wrap text-white ">
      <blockquote class="text-5xl font-semibold w-2/6 ">
         Un portal de citas para hombres y mujeres que estan comprometidos pero
         estan buscando una relacion paralela ol extramatrimonial
      </blockquote>
      <button class="heart-btn py-3 px-2 text-2xl">
        <div></div>
        <div></div>

         Ver mas
        
      </button>
   </div>   
</header>
{% endblock content %}
