{% extends 'layout.html' %} {% block title %}More love | Chat de parejas{%
endblock title %} {% block content %}
<style>
      @media (width <= 640px) {
      .bar-container {
         display: flex;
         justify-content: space-between;
         min-width: 100%;
      }
      .navbar {
         flex-direction: column;
      }

      .expandable {
         min-height: 0;
         display: flex;
         flex-direction: column;
      }
      #wrapper {
         min-width: 100%;
         display: grid;
         grid-template-rows: 0fr;
         overflow: hidden;
         transition: grid-template-rows 200ms;
      }

      #wrapper.open {
         padding-block: 1em;
         grid-template-rows: 1fr;
      }
   }e
</style>
<main class="w-full max-w-screen-2xl flex flex-col h-full px-4">
   <nav
      class="navbar flex px-4 py-2 text-white rounded-b-none justify-between items-center 2xl:flex 2xl:rounded-b-2xl"
   >
      <div class="bar-container">
         <div class="flex items-center">
            <a href="/home" class="flex items-center">
               <img
                  src="https://res.cloudinary.com/dm8e8z3bo/image/upload/f_auto,q_auto/v1688342083/app_citas/icons/nav_logo.webp"
                  alt="nav logo"
                  class="h-8 w-8"
               />
               <span class="font-black text-3xl text-red-500 ml-2 mr-8"
                  >More love</span
               >
            </a>
         </div>
         <button class="sm:hidden" onclick="show_navbar()">
            <img
               src="https://res.cloudinary.com/dm8e8z3bo/image/upload/f_auto,q_auto/v1688342075/app_citas/icons/expand_menu_icon.webp"
               alt="expand menu in mobile"
               class="h-8 w-8"
            />
         </button>
      </div>

      <div id="wrapper">
         <ul
            class="expandable text-red-600 gap-4 font-semibold sm:flex sm:items-center sm:gap-6 text-2xl sm:text-xl"
         >
            <li class="hover:opacity-100 hover:text-red-700 opacity-70">
               <a href="/login">
                  <p class="pl-4">Mi cuenta</p>
               </a>
            </li>
            <li
               class="bg-red-500 transition duration-300 rounded-xl text-slate-200 hover:bg-red-800 hover:text-slate-50 sm:max-w-fit"
            >
               <a href="/register">
                  <p class="px-8 py-2">
                     <a href="/logout">Cerrar Sesion</a>
                  </p>
               </a>
            </li>
         </ul>
      </div>
   </nav>
</main>
<script src="{{url_for('static', filename='js/expand_menu.js')}}"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

<script>
   Swal.fire("¡Bienvenido {{username.capitalize()}}!", "Encuentra el amor y conéctate con personas interesantes. Sé amable, respetuoso y auténtico al chatear.", "info");
</script>
{% endblock content %}
