
{% extends 'layout.html' %}
{% block title %}More love | Iniciar sesion{% endblock title %}
{% block content %}
<style>

   :root{
      --red-background:#dc2020;
   }
   body{
      background-color:#fff;
   }
   #card{
      background-color:#dc2626;
   }
</style>

<section >
   <div
      class="flex flex-col items-center justify-center px-6 py-8 mx-auto md:h-screen lg:py-0"
   >
      <a
         href="/"
         class="flex items-center mb-6 text-2xl font-semibold text-white"
      >
         <img
            class="w-8 h-8 mr-2"
            src="https://res.cloudinary.com/dm8e8z3bo/image/upload/f_auto,q_auto/v1688342083/app_citas/icons/nav_logo.webp"
            alt="logo"
         />
      <p class="font-black text-red-500">More love</p>
      </a>
      <div
         class="w-full bg-red-600 shadow-2xl rounded-md md:mt-0 sm:max-w-md xl:p-0" id="card"
      >
         <div class="p-6 space-y-4 md:space-y-6 sm:p-8">
            <h1
               class="text-xl font-bold leading-tight tracking-tight md:text-2xl text-white"
            >
               Inicia sesion en tu cuenta
            </h1>
            <form class="flex flex-col justify-center gap-4" action="/login" method="POST">
               <div>
                  <label
                     for="email"
                     class="block mb-2 text-sm font-medium text-white"
                     >Email</label
                  >
                  <input
                     type="email"
                     name="email"
                     pattern=".+@.+\..+"
                     id="email"
                     class="w-full text-slate-50 placeholder-red-500 bg-red-800 border-none  outline-red-800  rounded-md focus:outline-none py-2 px-2"
                     placeholder="juanrodriguez@gmail.com"
                     required
                  />
               </div>
               <div>
                  <label
                     for="password"
                     class="block mb-2 text-sm font-medium text-white"
                     >Contaseña</label
                  >
                  <input
                     type="password"
                     name="password"
                     id="password"
                     placeholder="••••••••"
                     class="w-full text-slate-50 placeholder-red-500 bg-red-800 outline-red-800  border-none rounded-md focus:outline-none py-2 px-2  "
                     required
                  />
               </div>
              
               <button
                  type="submit"
                  class="outline outline-red-700 outline-2 transition w-full text-white font-medium rounded-md  text-md px-5 py-2.5 my-4 text-center   hover:bg-red-700 hover:scale-105 hover:-translate-y-1  duration-300 shadow-inner "
               >
                  Iniciar sesion
               </button>
               <p class="text-sm font-light text-white ">
                  ¿No tienes una cuenta aun?
                  <a
                     href="/register"
                     class="font-medium text-primary-600 hover:underline "
                     >Registrate</a
                  >
               </p>
            </form>
         </div>
      </div>
      {% for message in messages%} 
         {% if message == "El email no existe" %}  
            {% with message_client = "Crea una cuenta o ingresa un email valido", color_btn = "red" %} 
               {% include"components/alert.html" %} 
            {% endwith %} 
         {% else %}
            {% with message_client = "Ingresa la contraseña valida", color_btn = "red" %} 
               {% include"components/alert.html" %} 
            {% endwith %} 
         {% endif %} 
      {% endfor %}
   </div>
</section>

<script src="{{url_for('static', filename='js/close_alert.js')}}"></script>


{% endblock content %}
