{% extends 'layout.html' %}

{% block content %}

<section class="bg-red-600">
   <div
      class="flex flex-col items-center justify-center px-6 py-8 mx-auto md:h-screen lg:py-0"
   >
      <a
         href="#"
         class="flex items-center mb-6 text-2xl font-semibold text-white"
      >
         <img
            class="w-8 h-8 mr-2"
            src="{{url_for('static', filename='img/nav-logo.svg')}}"
            alt="logo"
         />
        More love
      </a>
      <div
         class="w-full bg-red-700 shadow-md md:mt-0 sm:max-w-md xl:p-0"
      >
         <div class="p-6 space-y-4 md:space-y-6 sm:p-8">
            <h1
               class="text-xl font-bold leading-tight tracking-tight text-gray-900 md:text-2xl text-white"
            >
               Inicia sesion en tu cuenta
            </h1>
            <form class="flex flex-col justify-center gap-4" action="/login">
               <div>
                  <label
                     for="email"
                     class="block mb-2 text-sm font-medium text-gray-900 text-white"
                     >Email</label
                  >
                  <input
                     type="email"
                     name="email"
                     id="email"
                     class="w-full text-gray-700 placeholder-red-500 bg-white border rounded-md dark:bg-red-800 dark:text-gray-300 dark:border-red-900 focus:outline-none focus:ring focus:ring-opacity-40 focus:ring-red-300 focus:border-none py-2"
                     placeholder="juanrodriguez@gmail.com"
                     required=""
                  />
               </div>
               <div>
                  <label
                     for="password"
                     class="block mb-2 text-sm font-medium text-gray-900 text-white"
                     >Contaseña</label
                  >
                  <input
                     type="password"
                     name="password"
                     id="password"
                     placeholder="••••••••"
                     class="w-full text-gray-700 placeholder-red-500 bg-white border rounded-md dark:bg-red-800 dark:text-gray-300 dark:border-red-900 focus:outline-none focus:ring focus:ring-opacity-40 focus:ring-red-300 focus:border-none py-2"
                     required=""
                  />
               </div>
              
               <button
                  type="submit"
                  class="outline outline-transparent transition-colors w-full text-white  focus:ring-primary-300 font-medium rounded-sm  text-md px-5 py-2.5 my-4 text-center   hover:bg-red-800"
               >
                  Iniciar sesion
               </button>
               <p class="text-sm font-light text-white ">
                  ¿No tienes una cuenta aun?
                  <a
                     href="/register"
                     class="font-medium text-primary-600 hover:underline "
                     >Registrate</a
                  >
               </p>
            </form>
         </div>
      </div>
   </div>
</section>

{% endblock content %}
