{% extends 'layout.html' %} {% block title %} Registrate {% endblock title %} {%
block content %} {% block css_personalizated%} <link rel="stylesheet"
href="{{url_for("static", filename="css/forms/register.css")}}"> {% endblock
css_personalizated%}
<section class="bg-white dark:bg-red-600 w-full h-full">
   <div class="flex justify-center h-full w-full">
      <div
         class="hidden bg-center bg-cover lg:block lg:w-2/5"
         style="
            background-image: url('{{url_for('static', filename='img/registro.jpg')}}');
         "
      ></div>

      <div
         class="flex items-center w-full max-w-3xl p-8 mx-auto lg:px-12 lg:w-3/5"
      >
         <div class="w-full" id="pb-50">
            <h1
               class="text-2xl font-semibold tracking-wider text-gray-800 dark:text-white sm:mt-0 mt-4"
               id="mt-100"
            >
               Encuentra a tu pareja ideal, ahora gratis.
            </h1>

            <form
               class="grid grid-cols-1 gap-6 mt-8 md:grid-cols-2 items-end"
               action="/register"
               method="POST"
            >
               <div>
                  <label
                     class="block mb-2 text-sm text-gray-600 dark:text-gray-200"
                     >Nombre</label
                  >
                  <input
                     type="text"
                     name="username"
                     required
                     placeholder="Juan"
                     pattern="[A-Za-z ]{1,50}"
                     class="block w-full px-5 py-3 mt-2 text-gray-700 placeholder-red-500 bg-white border rounded-md dark:bg-red-800 dark:text-gray-300 dark:border-red-900 focus:outline-none focus:ring focus:ring-opacity-40 focus:ring-red-300 focus:border-none"
                  />
               </div>

               <div>
                  <label
                     class="block mb-2 text-sm text-gray-600 dark:text-gray-200"
                     >Email
                  </label>
                  <input
                     type="email"
                     name="email"
                     required
                     pattern=".+@.+\..+"
                     placeholder="juanrodriguez"
                     class="block w-full px-5 py-3 mt-2 text-gray-700 placeholder-red-500 bg-white border rounded-md dark:bg-red-800 dark:text-gray-300 dark:border-red-900 focus:outline-none focus:ring focus:ring-opacity-40 focus:ring-red-300 focus:border-none"
                  />
               </div>

               <div>
                  <label
                     class="block mb-2 text-sm text-gray-600 dark:text-gray-200"
                     >Contraseña</label
                  >
                  <input
                     type="password"
                     name="password"
                     required
                     placeholder="Ingresa tu contraseña"
                     class="block w-full px-5 py-3 mt-2 text-gray-700 placeholder-red-500 bg-white border rounded-md dark:bg-red-800 dark:text-gray-300 dark:border-red-900 focus:outline-none focus:ring focus:ring-opacity-40 focus:ring-red-300 focus:border-none"
                  />
               </div>

               <div>
                  <label
                     class="block mb-2 text-sm text-gray-600 dark:text-gray-200"
                     >Tipo de usuario:
                  </label>

                  <select
                     name="user_type"
                     id="user_type"
                     class="block w-full px-5 py-3 mt-2 text-gray-700 placeholder-red-500 bg-white border rounded-md dark:bg-red-800 dark:text-gray-300 dark:border-red-900 focus:outline-none focus:ring focus:ring-opacity-40 focus:ring-red-300 focus:border-none"
                     required
                  >
                     <option selected="true" value="" disabled="disabled">
                        Seleccione un tipo de usuario
                     </option>
                     {% for user_type in user_types %}
                     <option value="{{user_type.id}}">
                        {{user_type.user_type_name}}
                     </option>
                     {% endfor %}
                  </select>
               </div>

               <div>
                  <label
                     class="block mb-2 text-sm text-gray-600 dark:text-gray-200"
                     >Sexo de interes:
                  </label>

                  <select
                     name="interest_sex"
                     id="interest_sex"
                     class="block w-full px-5 py-3 mt-2 text-gray-700 placeholder-red-500 bg-white border rounded-md dark:bg-red-800 dark:text-gray-300 dark:border-red-900 focus:outline-none focus:ring focus:ring-opacity-40 focus:ring-red-300 focus:border-none"
                     required
                  >
                     <option selected="true" value="" disabled="disabled">
                        Seleccione un sexo de interes
                     </option>
                     {% for sex in sexes %}
                     <option value="{{sex.id}}">{{sex.sex_name}}</option>
                     {% endfor %}
                  </select>
               </div>

               <button
                  class="flex justify-self-start items-center justify-between w-full h-12 px-6 text-sm text-white capitalize transition duration-200 outline outline-red-800 rounded-md hover:bg-red-800 hover:scale-[1.04] focus:outline-none focus:ring focus:ring-blue-300 focus:ring-opacity-50 focus:ring-red-300 focus:border-none"
                  type="submit"
               >
                  <span>Registrarse </span>

                  <svg
                     xmlns="http://www.w3.org/2000/svg"
                     class="w-5 h-5 rtl:-scale-x-100"
                     viewBox="0 0 20 20"
                     fill="currentColor"
                  >
                     <path
                        fill-rule="evenodd"
                        d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z"
                        clip-rule="evenodd"
                     />
                  </svg>
               </button>
            </form>
         </div>
         {% for message in messages%} {% if isAccountCreated %}
         <div
            class="absolute bottom-0 left-0 min-w-min h-8 bg-green-500 py-4 px-2 flex justify-center items-center"
         >
            <h1>{{ message }}</h1>
         </div>
         {% endif %}

         <div
            role="alert"
            class="absolute sm:bottom-0 left-0 top-0"
         >
         
            <div class="flex justify-between items-center w-full bg-yellow-500">
               <div class=" text-white font-bold rounded-t px-4 py-2">
               Error al crear la cuenta
            </div>

               <button onclick="close_alert(this)">
                  <svg
                     class="fill-current h-6 w-6 text-yellow-900"
                     role="button"
                     xmlns="http://www.w3.org/2000/svg"
                     viewBox="0 0 20 20"
                  >
                     <title>Close</title>
                     <path
                        d="M14.348 14.849a1.2 1.2 0 0 1-1.697 0L10 11.819l-2.651 3.029a1.2 1.2 0 1 1-1.697-1.697l2.758-3.15-2.759-3.152a1.2 1.2 0 1 1 1.697-1.697L10 8.183l2.651-3.031a1.2 1.2 0 1 1 1.697 1.697l-2.758 3.152 2.758 3.15a1.2 1.2 0 0 1 0 1.698z"
                     />
                  </svg>
               </button>
            </div>

            <div
               class="border border-t-0 border-red-500 rounded-b bg-red-100 px-4 py-3 text-yellow-700"
            >
               <p>{{message}}</p>
            </div>
         </div>

         {% endfor %}
      </div>
   </div>
</section>

<script src="{{url_for('static', filename='js/close_alert.js')}}"></script>
{% endblock content %}
