<nav
   class="navbar w-full max-w-screen-2xl flex px-4 py-2 text-white rounded-b-none justify-between lg:justify-start items-center 2xl:flex 2xl:rounded-b-2xl"
>
   <div class="bar-container">
      <div class="flex items-center">
         <img
            src="https://res.cloudinary.com/dm8e8z3bo/image/upload/f_auto,q_auto/v1688342083/app_citas/icons/nav_logo.webp"
            alt="nav logo"
            class="w-8 h-8"
         />p
         <span class="font-black text-3xl text-red-500 mr-8">More love</span>
      </div>
      <button class="lg:hidden" onclick="show_navbar()">
         <img
            src="https://res.cloudinary.com/dm8e8z3bo/image/upload/f_auto,q_auto/v1688342075/app_citas/icons/expand_menu_icon.webp"
            alt="expand menu in mobile"
            class="w-8 h-8"
         />
      </button>
   </div>

   <div class="wrapper" id="wrapper">
      <ul
         class="expandable gap-4 font-semibold  md:flex md:gap-3 text-red-600 "
      >
         <li class="hover:opacity-100 hover:text-red-700 transition opacity-80">
            <a href="/login" >
               
               <p class="text-xl lg:text-sm">Inicia sesion</p>
            </a>
         </li>
         <li class="hover:opacity-100 hover:text-red-700 transition opacity-80">
            <a href="/register" >
               
               <p class="text-xl  lg:text-sm">Registrate</p>
            </a>
         </li>
      </ul>
   </div>
</nav>
